/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/static/assets/banner.svg);
    background-size: cover;
    background-position: center;
}

/* Estilo do cartão */
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    box-sizing: border-box;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #82342C;
}

/* Estilo do formulário */
form {
    display: block;
    gap: 15px;
}

label {
    font-size: 0.9rem;
    color: #474747;

}

input[type="text"] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;

}

input[type="text"]:hover {
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.1);


}

.logos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 6rem;
}

.act {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="button"] {
    background-color: #82342C;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;

}

input[type="submit"] {
    background-color: #82342C;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;

}

input[type="submit"]:hover {
    background-color: #82342C;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .card h1 {
        font-size: 1.2rem;
    }

    label {
        font-size: 0.85rem;
    }

    input[type="number"] {
        font-size: 0.9rem;
    }

    input[type="submit"] {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .act {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .card {
        padding: 0;
        width: 100%;
        margin: 0;
        max-width: none;
        overflow: hidden;
    }

    form {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 10px;
        display: block;
    }


    .card h1 {
        font-size: 1.5rem;
    }

    label {
        font-size: 0.8rem;
    }

    /* Estiliza o campo de entrada */
    input[type="text"] {
        font-size: 0.8rem;
        width: 95%;
        padding: 10px;
    }

    /* Wrapper para adicionar o símbolo de moeda */
    .currency-wrapper {
        position: relative;
        width: 100%;
    }

    /* Adiciona o símbolo de moeda antes do campo de entrada */
    .currency-wrapper::before {
        content: "$";
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #333;
        font-size: 0.8rem;
    }

    /* Ajusta o preenchimento do campo de entrada para não sobrepor o símbolo */
    .currency-wrapper .currency {
        padding-left: 25px;
    }

    input[type="submit"] {
        font-size: 0.8rem;
        padding: 6px;
    }

    body {
        background-image: none;
        padding: 0;

    }
}