body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.linkedit {
    background-color: #82342C;
    color: white;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 3rem;
    transition: .2s;
    text-decoration: none;
}

.linkedit:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 1, 1);
    transition: .2s;
    text-decoration: none;

}
.selected {
    background-color: #666666; /* Cor de fundo para a linha selecionada */
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

a {
    text-decoration: none;
    color: #82342C;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #82342C;
    color: white;
}

.rotas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.location a {
    border-radius: 10rem;
    background-color: #82342C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
    color: white;

}

thead th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

td a {
    color: #007bff;
    font-weight: bold;
}

td a:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }

    thead {
        display: none;
    }

    tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    tbody td {
        display: block;
        text-align: right;
        padding: 10px;
        position: relative;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
    }
}