<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Meta</title>
    <link rel="stylesheet" href="/static/css/addmetas.css">
</head>

<body>
    <div class="card">
        <div class="logos">
            <img src="/static/assets/logosemfundo.svg" alt="" class="logo">
            <img src="/static/assets/logopadrao.svg" alt="" class="logo">
        </div>
        <h1>Adicionar Nova Meta</h1>
        <form action="{{ url_for('addmetas') }}" method="POST">
            <!--  <label for = "ano">Ano:</label> -->

            <label class="ano" for="ano">Digite o ano</label>
            <input class="currency" type="text" id="ano" name="ano" required maxlength="4">

            <label for="janeiro">Janeiro:</label>
            <input class="currency" type="text" id="janeiro" name="janeiro">

            <label for="fevereiro">Fevereiro:</label>
            <input class="currency" type="text" id="fevereiro" name="fevereiro">

            <label for="marco">Março:</label>
            <input class="currency" type="text" id="marco" name="marco">

            <label for="abril">Abril:</label>
            <input class="currency" type="text" id="abril" name="abril">

            <label for="maio">Maio:</label>
            <input class="currency" type="text" id="maio" name="maio">

            <label for="junho">Junho:</label>
            <input class="currency" type="text" id="junho" name="junho">

            <label for="julho">Julho:</label>
            <input class="currency" type="text" id="julho" name="julho">

            <label for="agosto">Agosto:</label>
            <input class="currency" type="text" id="agosto" name="agosto">

            <label for="setembro">Setembro:</label>
            <input class="currency" type="text" id="setembro" name="setembro">

            <label for="outubro">Outubro:</label>
            <input class="currency" type="text" id="outubro" name="outubro">

            <label for="novembro">Novembro:</label>
            <input class="currency" type="text" id="novembro" name="novembro">

            <label for="dezembro">Dezembro:</label>
            <input class="currency" type="text" id="dezembro" name="dezembro">

            <div class="act">
                <input class="currency" type="submit" value="Adicionar">
                <a href="/tela_inicial">
                    <input class="currency" type="button" onclick="voltar()" value="voltar">
                </a>
                </a>
            </div>
        </form>
    </div>
    <script src="/static/js/addmetas.js"></script>
</body>

</html>