<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/editarmetas.css">
    <title>Editar Metas</title>
</head>
<body>
    <h1>Editar Metas - Ano {{ meta.ano }}</h1>
    <form method="POST">
        <label for="janeiro">Janeiro:</label>
        <input type="number" name="janeiro" value="{{ meta.janeiro }}" required><br>

        <label for="fevereiro">Fevereiro:</label>
        <input type="number" name="fevereiro" value="{{ meta.fevereiro }}" required><br>

        <label for="marco">Março:</label>
        <input type="number" name="marco" value="{{ meta.marco }}" required><br>

        <label for="abril">Abril:</label>
        <input type="number" name="abril" value="{{ meta.abril }}" required><br>

        <label for="maio">Maio:</label>
        <input type="number" name="maio" value="{{ meta.maio }}" required><br>

        <label for="junho">Junho:</label>
        <input type="number" name="junho" value="{{ meta.junho }}" required><br>

        <label for="julho">Julho:</label>
        <input type="number" name="julho" value="{{ meta.julho }}" required><br>

        <label for="agosto">Agosto:</label>
        <input type="number" name="agosto" value="{{ meta.agosto }}" required><br>

        <label for="setembro">Setembro:</label>
        <input type="number" name="setembro" value="{{ meta.setembro }}" required><br>

        <label for="outubro">Outubro:</label>
        <input type="number" name="outubro" value="{{ meta.outubro }}" required><br>

        <label for="novembro">Novembro:</label>
        <input type="number" name="novembro" value="{{ meta.novembro }}" required><br>

        <label for="dezembro">Dezembro:</label>
        <input type="number" name="dezembro" value="{{ meta.dezembro }}" required><br>

        <label for="meta_total">Meta Total:</label>
        <input type="number" name="meta_total" value="{{ meta.meta_total }}" required><br>

        <div class="act">
            <input class="currency" type="submit" value="Adicionar">
            <a href="/verMetas.html">
                <input class="currency" type="button" onclick="voltar()" value="voltar">
            </a>
            </a>
        </div>
    </form>

    <script src="/static/js/verMetas.js"></script>
</body>
</html>
