<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/editarmetas.css">
    <title>Editar Metas</title>
</head>

<body>

    <div class="card">
        <h1>Editar Metas - Ano {{ meta.ano }}</h1>

        <div class="ebibix">
            <span>
                <label for="total_meta">Nova Meta :</label>
                <input class="currency" type="text" id="total_meta" name="total_meta" value="{{ meta_total }}" onchange="metapercent()"><br>
            </span>
            
            <span>
                <label for="total_meta1">Meta Atual:</label>
                <input class="currency" type="text" id="total_meta1" name="total_meta1" value="{{ meta_total }}"><br>
            </span>
            
            <span>
                <label for="Porcentagem">Variação:</label>
                <input class="currency" type="text" id="Porcentagem" name="Porcentagem" readonly><br>
            </span>
            

        </div>



        <form method="POST">
            <label for="janeiro">Janeiro:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="janeiro" value="{{ meta.janeiro }}" required><br>

            <label for="fevereiro">Fevereiro:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="fevereiro" value="{{ meta.fevereiro }}" required><br>

            <label for="marco">Março:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="marco" value="{{ meta.marco }}" required><br>

            <label for="abril">Abril:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="abril" value="{{ meta.abril }}" required><br>

            <label for="maio">Maio:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="maio" value="{{ meta.maio }}" required><br>

            <label for="junho">Junho:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="junho" value="{{ meta.junho }}" required><br>

            <label for="julho">Julho:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="julho" value="{{ meta.julho }}" required><br>

            <label for="agosto">Agosto:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="agosto" value="{{ meta.agosto }}" required><br>

            <label for="setembro">Setembro:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="setembro" value="{{ meta.setembro }}" required><br>

            <label for="outubro">Outubro:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="outubro" value="{{ meta.outubro }}" required><br>

            <label for="novembro">Novembro:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="novembro" value="{{ meta.novembro }}" required><br>

            <label for="dezembro">Dezembro:</label>
            <input class="currency meta-input" type="text" id="format"  oninput="metapercent()" name="dezembro" value="{{ meta.dezembro }}" required><br>

            <div class="act">
                <input class="currency" type="submit" value="Salvar">
                <a href="/verMetas.html">
                    <input class="currency" type="button" value="Voltar">
                </a>
            </div>
        </form>
    </div>

    <script src="/static/js/editarmetas.js"></script>
</body>

</html>