<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="/static/css/tela_inicial.css">
</head>

<body>

    <main>
        <div class="positionlogo">
            <img class="imglogo" src="/static/assets/logosemfundo.svg" alt="imagem-logo" style="width: 15%;  ">

        </div>


        <div class="container">
            <a href="/verMetas.html">
                <div class="card">
                    <h2>Cadastro de metas</h2>
                    <p>Informar metas para meses e anos</p>
                </div>
            </a>
        </div>
        
        <div class="container">
            <a href="/lancarmetas.html">
                <div class="card">
                    <h2>Lançar metas</h2>
                    <p>Lançar metas para vendedores</p>
                </div>
            </a>
        </div>
        
        <div class="container">
            <a href="/cadastrar_usuarios.html">
                <div class="card">
                    <h2>Cadastrar Usuários</h2>
                    <p>Login e senha para acesso ao sistema de metas</p>
                </div>
            </a>
        </div>
        

        </div>
        <script src="/static/js/tela_inicial.js"></script>

    </main>
</body>

</html>